[Desktop Entry]
Encoding=UTF-8
Name=Snekcoin
Comment=Snekcoin P2P Cryptocurrency
Comment[fr]=Snekcoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Snekcoin, eşten eşe kriptografik sanal para birimi
Exec=snekcoin-qt %u
Terminal=false
Type=Application
Icon=snekcoin128
MimeType=x-scheme-handler/snekcoin;
Categories=Office;Finance;
